<h1><%= t('.show_school_unity') %></h1>
<h4><%= SchoolUnity.human_attribute_name :name %></h4>
<%= @school_unity.name %>
<h4><%= SchoolUnity.human_attribute_name :address %></h4>
<%= @school_unity.address %>